*[theme="light"] {
  font-family: 'Poppins', serif;
  --body-1: normal 14px/24px "Poppins";
  --body-2: normal 12px/16px "Poppins";
  --text-4: rgba(255, 255, 255, 1);
  --base-0: 2, 169, 244;
  --base-4: 230, 230, 230;
  --accent-1: 2, 169, 244;
  --accent-1b: 2, 69, 144;
  --neutral-1: 2, 169, 244;
  --border-radius: 12px;
}

*[theme="view-theme"] {
  --base-0: 22, 142, 233;
}

*[theme="connect-theme"] {
  --base-0: 18, 214, 2;
}

leaf-connect {
  --base-0: 218, 14, 222;
}
